<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-click="changeView('/home')" style="color: white">SAFI web</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="changeView('/reportes')">Reportes</a></li>
            <li><a ng-click="changeView('/focosDeInfeccion')">Focos de Infección</a></li>
            <li class="active-tab"><a ng-click="changeView('/capturaDeDatos')">Captura de datos</a></li>
            <li ng-show="usuario.rolUsuario"><a ng-click="changeView('/usuarios')">Listado de empleados</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="changeView('/perfil')">{{usuario.nombres}}</a></li>                
                <li><a ng-click="logout()">Cerrar Sesión</a></li>
              </ul>
            </li>
        </ul>
    </div>
</nav>

     <!--....................................Informacion General .............................................-->
<div class="alert alert-danger div-text-center center-medium-width" ng-show="activeSync()">
  <a ng-click="sincronizar()" style="color: #a94442"> <strong>Datos sin enviar presione aquí para sincronizar.</a></strong>
</div>

<div class="col-xs-12" ng-show="!hayRecorrido" ng-init="initRecorrido()">
    <form  class="form-horizontal">
        <div class="foco-container input-container">
            <label>Municipio:</label>
            <select class="form-control" ng-model="infoFormData.municipio" ng-options="municipio.municipio for municipio in opciones" required>
                <option value="">Escoger municipio</option>
            </select>

            <label>Comuna:</label>
            <select ng-model="infoFormData.comuna" ng-options="comuna for comuna in infoFormData.municipio.comunaNum" class="form-control" required>
                <option value="">Escoger comuna</option>
            </select>

            <label>Barrio:</label>
            <input type="text" name="nomBarrio" class="form-control" placeholder="Barrio" ng-model="editarInfo.barrio">
            
            <label>Actividad:</label>
            <select class="form-control" ng-model="infoFormData.actividad">
                <option value="" ng-disabled="true">Escoja una actividad</option>
                <option>Encuesta larvaria</option>
                <option>Control larvario</option>
                <option>Evaluación de control</option>
                <option>Supervisión</option>
            </select>

            <label>Fecha (dd-mm-aaaa):</label>
            <input type="text" class="form-control" ng-model="infoFormData.fecha" disabled>
            <div class="div-text-center">
                <button class="btn-safi" ng-click="agregarInfoGeneral()">Aceptar</button>
            </div>
        </div>
    </form>
</div> <!--.............................FIN Tab Informacion General........................................-->

<!-- ......................................Tab Datos Foco de Infeccion.................................................... -->
<div class="col-xs-12" ng-show="hayRecorrido">
    <div class="foco-container input-container">
        <label>Tipo de factor:</label>
        <select class="form-control" ng-model="tipo">
            <option value="" ng-disabled="true">Escoja un tipo</option>
            <option value="Vivienda">Vivienda</option>
            <option value="Sumidero">Sumidero</option>
            <option value="CDH">CDH</option>
        </select>
    </div>
    
    <div ng-show="tipo=='Sumidero'"> <!-- ....INICIO FORMULARIO SUMIDERO.... -->
        <form class="form-captura" >
            <div class="foco-container input-container">
                <span class="center titulo-bloque">Datos del sumidero:</span>
                <label>Estado:</label>
                <select class="form-control" ng-model="sumideroForm.estadoSumidero">
                    <option value="" ng-disabled="true">Escoja un estado</option>
                    <option value="Ninguno">Ninguno</option>
                    <option value="Seco">Seco</option>
                    <option value="Tapado">Tapado</option>
                    <option value="Con aceite">Con aceite</option>
                </select>
            
                <div class="control-info" ng-show="sumideroForm.estadoSumidero=='Ninguno'">
                
                    <label>Larvas:</label>
                    <select class="form-control" ng-model="sumideroForm.larvasSumidero">
                        <option value="">N/A</option>
                        <option>Aedex</option>
                        <option>Culex</option>
                        <option>Mixto</option>
                        <option>Sin Larvas</option>
                    </select>
                    
                    <label>Pupas:</label>
                    <select class="form-control" ng-model="sumideroForm.pupasSumidero">
                        <option value="">N/A</option>
                        <option>Aedex</option>
                        <option>Culex</option>
                        <option>Mixto</option>
                        <option>Sin Larvas</option>
                    </select>
                
                    <label>Control:</label>
                    <select class="form-control" ng-model="sumideroForm.tratadoSumidero">
                        <option value="" ng-disabled="true">¿Tratado?</option>
                        <option value="Tratado">Tratado</option>
                        <option value="Tratado sin inspeccionar">Tratado sin inspeccionar</option>
                    </select>
                    <div class="input-trio">                        
                        <label>Insecticida:</label>                        
                        <select class="form-control" ng-model="sumideroForm.insecticidaSumidero" ng-options="item.Nombre for item in sumideroForm.arrayInsecticidas">
                            <option value="">Ninguno</option>
                        </select>
                        <input type="text" ng-model="sumideroForm.cantInsecticidaSumidero" name="cantInsecticida" class="form-control" placeholder="Grs/ml">                        
                    </div>
                
                </div>
                <div class="div-text-center">            
                    <input type="text" value="{{showUbicacion()}}" class="form-control" style="text-align:center" disabled>
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mapModal"><i class=" material-icons">map</i></button>
                </div>
                <div class="div-text-center">
                    <button class="btn-safi" ng-click = "agregarSumidero()">Guardar</button>
                </div>
            </div>
        </form>
    </div> <!-- ....FIN FORMULARIO SUMIDERO.... -->

    <div ng-show="tipo=='Vivienda'">
        <!-- ....INICIO FORMULARIO VIVIENDA.... -->
        <form class="form-captura">
            <div class="foco-container input-container">
                <span class="center titulo-bloque">Datos de la vivienda:</span>

                <label> Clave:</label>

                <select class="form-control" ng-model="viviendaForm.clave" required>
                    <option value="" ng-disabled="true">Escoja una clave</option>
                    <option value="Negativa">Negativa</option>
                    <option value="Positiva">Positiva</option>
                    <option value="Cerrada">Cerrada</option>
                    <option value="Renuente">Renuente</option>
                </select>
                

            <div ng-show="viviendaNoRenuente()">
                
                <span class="center titulo-bloque">Representate Legal</span>
                <br />
                <label> Nombre:</label>
                <input ng-model="viviendaForm.nombre" class="form-control" type="text" placeholder="Nombre" />

                <label>Apellido:</label>
                <input ng-model="viviendaForm.apellido" class="form-control" type="text" placeholder="Apellido" />

                <label>Cédula:</label>
                <input ng-model="viviendaForm.cedula" class="form-control" type="number" placeholder="Cédula" />

                <label>Habitantes:</label>
                <input type="number" ng-model="viviendaForm.habitantesCasa" class="form-control">

                <div class="div-cdh">
                    <span class="center titulo-bloque">Depositos</span>
                    <div class="repeat-focos" ng-repeat="deposito in viviendaForm.depositos">
                        <select class="form-control select-vivienda" ng-model="deposito.deposito">
                            <option value="" ng-disabled="true">Tipo Deposito</option>
                            <option value="Tanques Bajos">Tanques bajos</option>
                            <option value="Llantas">Llantas</option>
                            <option value="Floreros/Plantas en agua">Floreros/Plantas en agua</option>
                            <option value="Tinas (> 55 gal)">Tinas (> 55 gal)</option>
                            <option value="Tarros-baldes (< 55 gal)">Tarros-baldes (< 55 gal)</option>
                            <option value="Criaderos naturales">Criaderos naturales</option>
                            <option value="Botellas">Botellas</option>
                            <option value="Diversos">Diversos</option>
                        </select>
                        <input type="number" ng-if="deposito.deposito=='Tanques Bajos'" placeholder="Medida Tanque" ng-model="deposito.medidaTanque" class="form-control medium-input">
                        <select class="form-control select-vivienda" ng-model="deposito.tieneAgua" required>
                            <option value="" ng-disabled="true">¿Tiene Agua?</option>
                            <option value="True">Sí</option>
                            <option value="False">No</option>
                        </select>                                

                        <input type="number" ng-model="deposito.L" placeholder="L" class="form-control small-input" ng-readonly="deposito.tieneAgua=='False' || viviendaForm.clave=='Negativa'" required>

                        <input type="number" ng-model="deposito.P" placeholder="P" class="form-control small-input" ng-readonly="deposito.tieneAgua=='False' || viviendaForm.clave=='Negativa'" required>

                        <select class="form-control select-vivienda" ng-model="deposito.eliminado" required>
                            <option value="" ng-disabled="true">¿Eliminado?</option>
                            <option value="True">Sí</option>
                            <option value="False">No</option>
                        </select>

                        <select class="form-control select-vivienda" ng-model="deposito.tratado" required ng-disabled="true">
                            <option value="" ng-disabled="true" selected>¿Tratado?</option>
                            <option value="True" ng-selected="deposito.eliminado=='False'">Sí</option>
                            <option value="False" ng-selected="deposito.eliminado=='True'">No</option>
                        </select>

                        <input type="number" placeholder="Larvicida (gr/ml)" ng-model="deposito.larvicida" class="form-control medium-input" required>

                        <div class="div-text-center">
                            <button class="btn btn-primary btn-cancel small-button" ng-click="eliminarDeposito(deposito.index)"><i class="material-icons">clear</i> </button>
                        </div>
                    </div>
                    
                    <button class="btn btn-primary btn-xs btn-block small-button" ng-click="agregarDeposito()"><i class="material-icons">add box</i> </button>                        
                    
                </div>
            </div>

            <div class="div-text-center">
                <input type="text" value="{{showUbicacion()}}" class="form-control" placeholder="Latitud - Longitud" style = "text-align: center" disabled>

                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mapModal"><i class="material-icons">map</i></button>
            </div>

            <div class="div-text-center">
                <button type="submit" ng-click="agregarVivienda()" class="btn-safi">Guardar</button>
            </div>
                
            </div>
        </form>
    </div> <!-- ....FIN FORMULARIO VIVIENDA.... -->
        <!-- ....INICIO FORMULARIO CDH.... -->

    <div ng-show="tipo=='CDH'">
        <form class="form-captura">
            <div class="foco-container input-container">
                <span class="center titulo-bloque">Representate Legal</span>
                    <label> Nombre:</label>
                    <input ng-model="CDHform.nombre" class="form-control" type="text" placeholder="Nombre" />

                    <label>Apellido:</label>
                    <input ng-model="CDHform.apellido" class="form-control" type="text" placeholder="Apellido" />

                    <label>Cédula:</label>
                    <input ng-model="CDHform.cedula" class="form-control" type="number" placeholder="Cédula" />

                    <label>Razón Social:</label>
                    <input ng-model="CDHform.rs" class="form-control" type="text" placeholder="Razón Social" />

                    <label>Tipo:</label>
                    <select class="form-control" ng-model="CDHform.tipoCDH">
                        <option value="" ng-disabled="true">Tipo</option>
                        <option value="general">General</option>
                        <option value="otros">Hospital/Batallón</option>
                    </select>

                <div ng-show="CDHform.tipoCDH=='general'">
                    <div class="div-cdh">
                        <span class="center titulo-bloque">Focos Encontrados</span>
                        <div class="repeat-focos" ng-repeat="foco in CDHform.focosEncontrados">
                            <select class="form-control" ng-model="foco.tipo">
                                <option value="">Tipo</option>
                                <option>Tanques bajos</option>
                                <option>Llantas</option>
                                <option>Floreros/Plantas en agua</option>
                                <option>Tinas (> 55 gal)</option>
                                <option>Tarros-baldes (< 55 gal)</option>
                                <option>Criaderos naturales</option>
                                <option>Botellas</option>
                                <option>Diversos</option>
                                <option>Sumidero</option>
                            </select>
                            <div class="input-container">
                                <input type="text" class="form-control small-input" ng-model="foco.cantidad" placeholder="Cantidad" />
                                <input type="text" class="form-control" ng-model="foco.lugar" placeholder="Lugar" />
                            </div>
                            <div class="div-text-center">
                                <button class="btn btn-primary btn-xs btn-cancel small-button" ng-click="deleteEncontrado(foco.index)"><i class="material-icons">clear</i> </button>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-xs btn-block small-button" ng-click="filaFoco()"><i class="material-icons">add box</i> </button>
                    </div>
                        
                    <div class="div-cdh">
                        <span class="center titulo-bloque">Focos Potenciales</span>
                        <div class="repeat-focos" ng-repeat="potencial in CDHform.focosPotenciales">
                            <div class="row-container">
                                <input type="text" class="form-control small-input" ng-model="potencial.cantidad" placeholder="Cantidad" />
                                <input type="text" class="form-control" ng-model="potencial.lugar" placeholder="Lugar" />

                                <select class="form-control" ng-model="potencial.tipo">
                                    <option value="">Tipo</option>
                                    <option>Tanques bajos</option>
                                    <option>Llantas</option>
                                    <option>Floreros/Plantas en agua</option>
                                    <option>Tinas (> 55 gal)</option>
                                    <option>Tarros-baldes (< 55 gal)</option>
                                    <option>Criaderos naturales</option>
                                    <option>Botellas</option>
                                    <option>Diversos</option>
                                    <option>Sumidero</option>
                                </select>
                            </div>

                            <div class="div-text-center">
                                <button class="btn btn-primary btn-xs btn-cancel small-button" ng-click="deletePotencial(potencial.index)"><i class="material-icons">clear</i> </button>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-xs btn-block small-button" ng-click="filaPotencial()"><i class="material-icons">add box</i> </button>
                    </div>                            
                </div>

                <div ng-show="CDHform.tipoCDH=='otros'">
                    <div class="div-cdh">
                        <span class="center titulo-bloque">Toldillos</span>
                        <div class="repeat-focos" ng-repeat="toldillo in CDHform.toldillos">
                            <select class="form-control" ng-model="toldillo.tipo">
                                <option value="">Tipo</option>
                                <option>Adulto</option>
                                <option>Pediatrico</option>
                            </select>
                            <div class="row-container">
                                <div>
                                    <label>Bueno</label>
                                    <input type="number" class="form-control" ng-blur="toldillo.total=toldillo.bueno+toldillo.malo+toldillo.regular" ng-model="toldillo.bueno" placeholder="Bueno" />
                                    
                                </div>
                                <div>
                                    <label>Regular</label>
                                    <input type="number" class="form-control" ng-blur="toldillo.total=toldillo.bueno+toldillo.malo+toldillo.regular" ng-model="toldillo.regular" placeholder="Regular" />
                                </div>
                                
                                <div>
                                    <label>Malo</label>
                                    <input type="number" class="form-control" ng-blur="toldillo.total=toldillo.bueno+toldillo.malo+toldillo.regular" ng-model="toldillo.malo" placeholder="Malo" />
                                </div>
                                <div>
                                    <label class="">Total</label>
                                    <input type="number" class="form-control" ng-disabled="true" ng-model="toldillo.total" placeholder="Total" />                                        
                                </div>

                                <div>
                                    <label class="">En Uso</label>
                                    <input type="number" class="form-control" ng-model="toldillo.uso" placeholder="Uso" />
                                </div>

                            </div>
                            
                            <div class="div-text-center">
                                <button class="btn btn-primary btn-xs btn-cancel small-button" ng-click="deleteToldillo(toldillo.index)"><i class="material-icons">clear</i> </button>
                            </div>

                        </div>
                        <button class="btn btn-primary btn-xs btn-block small-button" ng-click="filaToldillo()"><i class="material-icons">add box</i> </button>
                    </div>
                </div>
                <label>Plazo en días:</label> 
                <input type="number" ng-model="CDHform.plazo" class="form-control" placeholder="Plazo" style="text-align: center" required>                

                <div class="div-text-center">
                    <input type="text" value="{{showUbicacion()}}" class="form-control" placeholder="Latitud - Longitud" style = "text-align: center" disabled>

                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#mapModal"><i class="material-icons">map</i></button>
                </div>

                <span class="center titulo-bloque">Observaciones</span>
                <div class="div-text-center">
                    <textarea ng-model="CDHform.observaciones" class="observaciones-cdh"> </textarea>
                </div>

                <div class="div-text-center">
                    <button type="submit" ng-click="agregarCDH()" class="btn-safi">Guardar</button>
                </div>

            </div>

        </form>
    </div>
</div><!--.............................FIN Tab Datos Foco........................................-->


<!-- MODAL DEl MAPA  -->

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="mapModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
        <div ng-init="MapaGoogle()" id="map-canvas">
        </div>
        </div>
    </div>
</div>


<!-- MODAL DE ERROR  -->

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="capturaErrorModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-danger">
                <i class="material-icons">error_outline</i>
            </div>
            <div class="modal-text">
                <p>{{modalMessage}}</p>
            </div>
        </div>
    </div>
</div>
<!-- MODAL DE EXITO -->

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="capturaSuccessModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-success">
                <i class="material-icons">done</i>
            </div>
            <div class="modal-text">
                <p>{{modalMessage}}</p>
            </div>
        </div>
    </div>
</div>