<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-click="changeView('/home')" style="color: white">SAFI web</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="changeView('/reportes')">Reportes</a></li>
            <li><a ng-click="changeView('/focosDeInfeccion')">Focos de Infección</a></li>
        	<li><a ng-click="changeView('/capturaDeDatos')">Captura de datos</a></li>
        	<li ng-show="usuario.rolUsuario"><a ng-click="changeView('/usuarios')">Listado de empleados</a></li>
			<li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
	          <ul class="dropdown-menu">
	            <li><a ng-click="changeView('/perfil')">{{usuario.nombres}}</a></li>
	            <li><a ng-click="logout()">Cerrar Sesión</a></li>
	          </ul>
	        </li>
        </ul>
    </div>
</nav><br><br><br>
<div ng-init="iniciarDashboard()">    
    <div class="row">
    <!--DIV PARA LOS ITEMS QUE SON DE ROL SUPERVISOR-->
    <div ng-show="usuario.rolUsuario">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg" ng-click="irController('usuarios')">
                <i class="fa fa-user-o"></i>
                <div class="count">{{dashboardVariables.usuarios}}</div>
                <div class="title">Mis trabajadores</div>
            </div><!--/.info-box-->
        </div><!--/.col-->
    </div>


    <!--DIV PARA LOS ITEMS QUE SON DE ROL TRABAJADOR-->
    <div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg" ng-click="irController('focos')">
                <i class="fa fa-globe"></i>
                <div class="count">{{dashboardVariables.focos}}</div>
                <div class="title">Focos de infección nuevos</div>
            </div><!--/.info-box-->
        </div><!--/.col-->
        
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg" ng-click="irController('captura')">
                <i class="fa fa-plus"></i>
                <div class="title-captura">Agrega un foco de infección</div>
            </div><!--/.info-box-->
        </div><!--/.col-->
        
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg" ng-click="irController('mapa')">
                <i class="fa fa-map-o"></i>
                <div class="title-mapa">Ver mapa de calor</div>
            </div><!--/.info-box-->
        </div>
    </div>


    
    </div><!--row-->

    <!-- Grafico de Barra d Google -->
    <div class="row-graph">
        <div id="columnchart_material" class="googleGraph"></div>
        
        <!-- Calendario -->
        <div id='wrap'>
            <div id='calendar'></div>
            <div style='clear:both'></div>
        </div>
    </div>
</div>

