<div class="login-body">
  <div class="login-wrapper">
    <div class="login-container">
      <form name="loginForm" ng-show="showLogin" class="form-horizontal" novalidate>
        <div class="form-top">
          <h3>SAFI Web</h3>
          <i class="fa fa-key"></i>          
        </div>

        <div class="form-bottom">
          <div class="element-container">
            <input type="text" name="form-username" placeholder="Cédula" class="login-input" id="form-username" ng-model="loginForm.usuario" required>
            <input type="password" name="form-password" placeholder="Contraseña" class="login-input" id="form-password" ng-model="loginForm.contrasena" required>
          </div>

          <div class="error-center">
            <span class="error-center"> {{loginError}} </span>
          </div>

          <div class="element-container">
            <button type="submit" class="btn-safi" ng-disabled="!loginForm.$valid" ng-click="login()">Iniciar Sesión</button>
            <button type="submit" class="btn-safi" ng-click="changePage()">Registrarse</button>
          </div>
        </div>
      </form>

      <form name="registerForm" ng-show="!showLogin" class="form-horizontal" novalidate>
        <div class="form-top">
          <h3>SAFI Web</h3>
          <i class="fa fa-key"></i>          
        </div>

        <div class="form-bottom">
          <div class="element-container">
            <input type="text" required placeholder="Nombre" class="login-input" ng-model="registroForm.nombres">
            <input type="text" required placeholder="Apellidos" class="login-input" ng-model="registroForm.apellidos">
            <input type="text" required placeholder="Cédula" class="login-input" ng-model="registroForm.cedula">
            <input type="password" required placeholder="Contraseña" class="login-input" ng-model="registroForm.contrasena">
            <div class="login-radio">
              <label>¿Es supervisor?</label>
              <input type="checkbox" ng-model="registroForm.coordinador" ng-init="registroForm.coordinador=false">
            </div>  
          </div>

          <div class="error-center">
            <span> {{registerError}} </span>
          </div>

          <div class="element-container">
            <button type="submit" ng-disabled="!registerForm.$valid" ng-click="register()" class="btn-safi">Registrarse</button>
            <button ng-click="changePage()" class="btn-safi">Iniciar sesión</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


  
