<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-click="changeView('/home')" style="color: white">SAFI web</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="changeView('/reportes')">Reportes</a></li>
            <li><a ng-click="changeView('/focosDeInfeccion')">Focos de Infección</a></li>
            <li><a ng-click="changeView('/capturaDeDatos')">Captura de datos</a></li>
            <li ng-show="usuario.rolUsuario"><a ng-click="changeView('/usuarios')">Listado de empleados</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                <li><a ng-click="changeView('/perfil')">{{usuario.nombres}}</a></li>
                <li><a ng-click="logout()">Cerrar Sesión</a></li>
              </ul>
            </li>
        </ul>
    </div>
</nav><br><br><br>

<form name="perfilForm"  class="form-horizontal">
    <div class="input-container-profile">
        <h3 class="title-profile">Información personal</h3><br>
        <div class="container-izq">
            <img alt="User Pic" src="img/userImg.png" class="img-circle img-responsive">
        </div>
        <div class="container-der">
            <div class="input-container">

                <label>Cédula:</label>
                <label>{{usuario.cedula}}</label>

                <label>Nombres:</label>
                <label>{{usuario.nombres}}</label>

                <label>Apellidos:</label>
                <label>{{usuario.apellidos}}</label>

                <label>Cargo:</label>
                <label>{{cargoPerfil()}}</label>

                <label>Email:</label>
                <label>{{usuario.correo}}</label>

                <label>Contraseña:</label>
                <input type="password" class="form-control" style="width: 35%;" id="passwordUser" ng-model="usuario.password" placeholder="Contraseña" required>

                <label ng-show="mostrarContrasena"> Confirmar contraseña:</label>
                <input type="password" class="form-control" style="width: 35%;" ng-show="mostrarContrasena" placeholder="Confirmar Contraseña" ng-model="confirmarContrasena" required>

                <label style="width: auto; color: red;" ng-show="usuario.password!=confirmarContrasena && mostrarContrasena">Las contraseñas no coinciden</label>
            </div>
        </div>
        <div class="element-container">
            <button type = "submit" ng-click="editarInformacion()" ng-disabled="!perfilForm.$valid" class="btn-safi">Editar</button>
            <button ng-click="usuario=usuarioCopia; mostrarContrasena=false;" ng-disabled="checkChange()" class="btn-safi">Cancelar</button>
        </div>
    </div>
</form>


<!-- MODAL DE ERROR  -->

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="perfilErrorModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-danger">
                <i class="material-icons">error_outline</i>
            </div>
            <div class="modal-text">
                <p>{{modalMessage}}</p>
            </div>
        </div>
    </div>
</div>
<!-- MODAL DE EXITO -->

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="perfilSuccessModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-success">
                <i class="material-icons">done</i>
            </div>
            <div class="modal-text">
                <p>{{modalMessage}}</p>
            </div>
        </div>
    </div>
</div>