<div id="menu-lateral" class="sidenav" ng-controller = "reportesController">
        <a ng-click="changeView('/home')"><h4>SAFI WEB</h4></a>
        <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
        <a ng-click="changeView('/reportes')">REPORTES</a>
        <a ng-click="changeView('/focosDeInfeccion')">FOCOS DE INFECCIÓN</a></li>
        <a ng-click="changeView('/capturaDeDatos')">CAPTURA DE DATOS</a>
        <a ng-show="usuario.rolUsuario" ng-click="changeView('/usuarios')">LISTADO DE EMPLEADOS</a>
        <a ng-click="changeView('/perfil')" style="text-transform: uppercase;">{{usuario.nombres}}</a>
        <a ng-click="logout()">CERRAR SESIÓN</a>
    </div>

<div ng-controller = "reportesController">
    <div class="blue-button" ng-click="openNav()">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
        <h4>SAFI WEB</h4>
    </div>
    <div class="logoues" align="right">
        <img src="img/uesvalle.jpg" alt="Logo UES" height="10%" width="20%"/>
        <div class="fecha">Fecha: {{fechaHoy}}</div>
    </div>
    <div class="filter-div-reportes"><!-- Se cambio el nombre de la clase-->   
        <span>REPORTE DEL MES:</span>
        <div class="dropdown">
            <select class="white-button" ng-model="mesusuario" ng-options="m.mes for m in meses"></select>
        </div>
        <button class="white-button" ng-click="filtrarPorMes()">Ver reporte</button>
        <button class="white-button" ng-click="export()">Exportar a Excel</button> <!--Se cambio-->
    </div>
<div class = "container-reportes">
    <div class="sumidero-reportes">
        <div><h4><b>Sumideros</b></h4></div>
        <table class="table" ng-form="tableForm" id="sumideros">
            <thead>
                <tr>
                    <th>Municipio</th>
                    <th>Total inspeccionados</th>
                    <th>Numero de positivos</th>
                    <th>Numero de tratados</th>
                    <th>Insecticida usado</th>
                    <th>Total insecticida usado</th>
                </tr>
                </thead>
                <tbody>
                <!-- Paginacion y filtro  -->
                <tr ng-repeat="foco in focosReporteSumidero">
                    <td>{{foco.Municipio}}</td>
                    <td>{{foco.cantidad}}</td>
                    <td>{{foco.positivos}}</td>
                    <td>{{foco.tratados}}</td>
                    <td>{{foco.Insecticida}}</td>
                    <td>{{foco.totalinsecticida}}</td>
                    <td>{{foco.Estado}}</td>
                </tr>
                </tbody>
        </table>
    </div>

    <div class="vivienda-reportes">
        <div><h4><b>Viviendas</b></h4></div>
        <table class="table" ng-form="tableForm" id="viviendas">
            <thead>
                <tr>
                    <th>Municipio</th>
                    <th>Casas visitadas</th>
                    <th>Depositos encontrados</th>
                    <th>Depositos tratados</th>
                    <th>Depositos eliminados</th>
                    <th>Depositos con larvas</th>
                    <th>Total insecticida usado</th>
                </tr>
                </thead>
                <tbody>
                <!-- Paginacion y filtro  -->
                <tr ng-repeat="foco in focosReporteVivienda">
                    <td>{{foco.Municipio}}</td>
                    <td>{{foco.cantidad}}</td>
                    <td>{{foco.depositos}}</td>
                    <td>{{foco.tratados}}</td>
                    <td>{{foco.eliminados}}</td>
                    <td>{{foco.larvas}}</td>
                    <td>{{foco.insecticida}}</td>
                </tr>
                </tbody>
        </table>
    </div>
    <div class="cdh-reportes">
        <div><h4><b>Centros de concentracion humana</b></h4></div>
        <table class="table" ng-form="tableForm" id="cdh">
            <thead>
                <tr>
                    <th>Municipio</th>
                    <th>Lugares visitados</th>
                    <th>Depositos encontrados</th>
                    <th>Depositos tratados</th>
                    <th>Depositos eliminados</th>
                    <th>Depositos con larvas</th>
                    <th>Total insecticida usado</th>
                </tr>
                </thead>
                <tbody>
                <!-- Paginacion y filtro  -->
                <tr ng-repeat="foco in focosReporteCDH">
                    <td>{{foco.Municipio}}</td>
                    <td>{{foco.cantidad}}</td>
                    <td>{{foco.depositos}}</td>
                    <td>{{foco.tratados}}</td>
                    <td>{{foco.eliminados}}</td>
                    <td>{{foco.larvas}}</td>
                    <td>{{foco.insecticida}}</td>
                </tr>
                </tbody>
        </table>
    </div>
    
</div>
</div> 
