<!DOCTYPE html>
<html ng-app="movilapp">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <!-- Key de la API de google maps para js -->
    
    <script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDy6jG-VNXs7cye1yVfK1S2MHvccoyr7EQ">
    </script>

    <script type="text/javascript">


    </script>

    <title>Foco de infeccion</title>
</head>

<body ng-controller="focoController">
    <div class="header">
        <button class="back-arrow" ng-click="backNavigation()"> <span class="glyphicon glyphicon-menu-left"></span>  </button>
        <h4>Foco de infección</h4>
        <div class="dropdown header-button">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <ul class="dropdown-menu">
                <li><a ng-disabled="activeSync()" ng-click="sincronizar()">Sincronizar</a></li>
                <li><a ng-click="logout()">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
    <!-- MENU DE INICIO - NAVIGATION TABS -->
    <div class="col-xs-12 has-header">
      <ul class="nav nav-tabs">
        <li class="active couple-tabs"><a href="#tab_datos" data-toggle="pill">Foco <br> infección.</a></li>
        <li class="couple-tabs"><a href="#tab_infoGeneral" data-toggle="pill">Editar<br> Recorrido.</a></li>        
    </ul>
</div>
<div>
    <!-- Ng-style para ocultar o mostrar el mapa -->

    <div ng-init="MapaGoogle()" ng-style="showMap && {'z-index':'999','bottom':'0'} || {'z-index':'-1','top':'-1000px'}" id="map-canvas">
    </div>
    <button class="btn btn-primary map-button" ng-style="showMap && {'z-index':'999','top':'25%'} || {'z-index':'-1','top':'none'}" ng-click="toggleMap()">X</button>
</div>

<div class="" align="center">
    <div class="tab-content">
        <!--...................................................Tab Informacion General .............................................-->        
        <div class="tab-pane" id="tab_infoGeneral">
            <form ng-submit="" class="form-horizontal">
                <div class="input-container">
                    <label>Comuna:</label>
                    <select ng-model="editarInfo.comuna" ng-options="item for item in editarInfo.comunas" class="form-control">
                        <option ng-disabled="true" ng-selected="true" value="">Escoger comuna</option>
                    </select>
                </div>


                <div class="input-container">
                    <label>Barrio:</label>
                    <input type="text" name="nomBarrio" class="form-control" placeholder="Barrio" ng-model="editarInfo.barrio">
                </div>

                <div class="input-container">
                    <label>Actividad:</label>
                    <select class="form-control" ng-model="editarInfo.actividad">
                        <option value="" ng-disabled="true">Escoja una actividad</option>
                        <option>Encuesta larvaria</option>
                        <option>Control larvario</option>
                        <option>Evaluación de control</option>
                        <option>Supervisión</option>
                    </select>
                </div>

               
                <div class = "col-xs-12">
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="modificarInfoGeneral()">Aceptar</button>
                    </div>
                </div>
            </form>
        </div> <!--.............................FIN Tab Informacion General........................................-->

        <!-- ..............................................Tab Datos Foco de Infeccion.................................................... -->
        <div class="tab-pane active" id="tab_datos">
            <div class="input-container">
                <label>Tipo de factor:</label>
                <select class="form-control" ng-model="tipo">
                    <option value="" ng-disabled="true">Escoja un tipo</option>
                    <option>Vivienda</option>
                    <option>Sumidero</option>
                    <option>CDH</option>
                </select>
            </div>
            
            <div class="col-xs-12" ng-if = "mostrar('Sumidero')"> <!-- ....INICIO FORMULARIO SUMIDERO.... -->
                <form ng-submit="" class="form-horizontal" >
                    <span class="center titulo-bloque">Datos del sumidero:</span>

                    <div class="input-container">
                        <label>Estado:</label>
                        <select class="form-control" ng-model="sumideroForm.estadoSumidero">
                            <option value="" ng-disabled="true">Escoja un estado</option>
                            <option value="Ninguno">Ninguno</option>
                            <option value="Seco">Seco</option>
                            <option value="Tapado">Tapado</option>
                            <option value="Con aceite">Con aceite</option>
                        </select>
                    </div>
                    <div class="control-info" ng-show="sumideroForm.estadoSumidero=='Ninguno'">
                        <div class="input-container">
                            <label>Larvas:</label>
                            <select class="form-control" ng-model="sumideroForm.larvasSumidero">
                                <option value="">N/A</option>
                                <option>Aedex</option>
                                <option>Culex</option>
                                <option>Mixto</option>
                                <option>Sin Larvas</option>
                            </select>
                        </div>

                        <div class="input-container">
                            <label>Pupas:</label>
                            <select class="form-control" ng-model="sumideroForm.pupasSumidero">
                                <option value="">N/A</option>
                                <option>Aedex</option>
                                <option>Culex</option>
                                <option>Mixto</option>
                                <option>Sin Larvas</option>
                            </select>
                        </div>

                        <div class="input-container">
                            <label>Control:</label>
                            <select class="form-control" ng-model="sumideroForm.tratadoSumidero">
                                <option value="" ng-disabled="true">¿Tratado?</option>
                                <option value="Tratado">Tratado</option>
                                <option value="Tratado sin inspeccionar">Tratado sin inspeccionar</option>
                            </select>
                        </div>

                        <div class="input-container">
                            <label>Insecticida:</label>
                            <select class="form-control" ng-model="sumideroForm.insecticidaSumidero" ng-options="item.Nombre for item in sumideroForm.arrayInsecticidas" required>
                                <option value="">Ninguno</option>
                            </select>
                            <input type="text" ng-model="sumideroForm.cantInsecticidaSumidero" name="cantInsecticida" class="form-control" placeholder="Insecticida Grs/ml">
                        </div>
                    </div>
                    <div class="input-container">
                        <input type="text" value="{{showUbicacion()}}" class="form-control" placeholder="Latitud - Longitud" style="text-align: center" disabled>        
                        <button type="button" class="btn btn-primary btn-xs" ng-click="geolocation()"><i class="material-icons">my_location</i></button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="toggleMap()"><i class="material-icons">map</i></button>  
                    </div>
                    
                    <br>
                    <div class = "col-xs-12">
                        <div class="form-group">
                            <br>
                            <div class="col-xs-6" align="right">
                                <button class="btn btn-primary" ng-click = "agregarSumidero()">Guardar</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary" ng-click ="changeView('menuTipos.html','infoGeneral.html')">Cancelar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div> <!-- ....FIN FORMULARIO SUMIDERO.... -->

            <div class="col-xs-12" ng-if="mostrar('Vivienda')">
                <!-- ....INICIO FORMULARIO VIVIENDA.... -->
                <form ng-submit="" class="form-horizontal">
                    <div class="div-clave">
                        <span class="center titulo-bloque">Datos de la vivienda:</span>                        
                        <br />
                        <div class="input-container">
                            <label> Clave:</label>
                            <select class="form-control" ng-model="viviendaForm.clave" required>
                                <option value="" ng-disabled="true">Escoja una clave</option>
                                <option value="Negativa">Negativa</option>
                                <option value="Positiva">Positiva</option>
                                <option value="Cerrada">Cerrada</option>
                                <option value="Renuente">Renuente</option>
                            </select>
                        </div>                        
                    </div>

                    <div ng-show="viviendaNoRenuente()">
                        <div class="info-representante">
                            <span class="center titulo-bloque">Representate Legal</span>
                            <br />
                            <div class="input-container">
                                <label> Nombre:</label>
                                <input ng-model="viviendaForm.nombre" class="form-control" type="text" placeholder="Nombre" />
                            </div>
                            <div class="input-container">
                                <label>Apellido:</label>
                                <input ng-model="viviendaForm.apellido" class="form-control" type="text" placeholder="Apellido" />
                            </div>
                            <div class="input-container">
                                <label>Cédula:</label>
                                <input ng-model="viviendaForm.cedula" class="form-control" type="number" placeholder="Cédula" />
                            </div>
                            <div class="input-container">
                                <label>Habitantes:</label>
                                <input type="number" ng-model="viviendaForm.habitantesCasa" class="form-control">
                            </div>
                        </div>

                        <div class="div-cdh">
                            <span class="center titulo-bloque">Depositos</span>
                            <div class="input-container" ng-repeat="deposito in viviendaForm.depositos">
                                <select class="form-control select-vivienda" ng-model="deposito.deposito">
                                    <option value="" ng-disabled="true">Tipo Deposito</option>
                                    <option value="Tanques Bajos">Tanques bajos</option>
                                    <option value="Llantas">Llantas</option>
                                    <option value="Floreros/Plantas en agua">Floreros/Plantas en agua</option>
                                    <option value="Tinas (> 55 gal)">Tinas (> 55 gal)</option>
                                    <option value="Tarros-baldes (< 55 gal)">Tarros-baldes (< 55 gal)</option>
                                    <option value="Criaderos naturales">Criaderos naturales</option>
                                    <option value="Botellas">Botellas</option>
                                    <option value="Diversos">Diversos</option>
                                </select>
                                <input type="number" ng-if="deposito.deposito=='Tanques Bajos'" placeholder="Medida Tanque" ng-model="deposito.medidaTanque" class="form-control medium-input">
                                <select class="form-control select-vivienda" ng-model="deposito.tieneAgua" required>
                                    <option value="" ng-disabled="true">¿Tiene Agua?</option>
                                    <option value="True">Sí</option>
                                    <option value="False">No</option>
                                </select>                                

                                <input type="number" ng-model="deposito.L" placeholder="L" class="form-control small-input" ng-readonly="deposito.tieneAgua=='False' || viviendaForm.clave=='Negativa'" required>
                                <input type="number" ng-model="deposito.P" placeholder="P" class="form-control small-input" ng-readonly="deposito.tieneAgua=='False' || viviendaForm.clave=='Negativa'" required>
                                <select class="form-control select-vivienda" ng-model="deposito.eliminado" required>
                                    <option value="" ng-disabled="true">¿Eliminado?</option>
                                    <option value="True">Sí</option>
                                    <option value="False">No</option>
                                </select>
                                <select class="form-control select-vivienda" ng-model="deposito.tratado" required ng-disabled="true">
                                    <option value="" ng-disabled="true" selected>¿Tratado?</option>
                                    <option value="True" ng-selected="deposito.eliminado=='False'">Sí</option>
                                    <option value="False" ng-selected="deposito.eliminado=='True'">No</option>
                                </select>
                                <input type="number" placeholder="Larvicida (gr/ml)" ng-model="deposito.larvicida" class="form-control medium-input" required>
                                <button class="btn btn-primary btn-xs btn-cancel small-button" ng-click="eliminarDeposito(deposito.index)"><i class="material-icons">clear</i> </button>
                            </div>

                            <button class="btn btn-primary btn-xs btn-block small-button" ng-click="agregarDeposito()"><i class="material-icons">add box</i> </button>
                        </div>
                    </div>
                    <div class="input-container">
                        <input type="text" value="{{showUbicacion()}}" class="form-control" placeholder="Latitud - Longitud" style="text-align: center" disabled>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="geolocation()"><i class="material-icons">my_location</i></button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="toggleMap()"><i class="material-icons">map</i></button>
                    </div>   
                    <div class="col-xs-12">
                        <div class="form-group">
                            <br>
                            <div class="col-xs-6" align="right">
                                <button type="submit" ng-click="agregarVivienda()" class="btn btn-primary">Guardar</button>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-primary" ng-click="changeView('menuTipos.html','infoGeneral.html')">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- ....FIN FORMULARIO VIVIENDA.... -->
                <!-- ....INICIO FORMULARIO CDH.... -->
        
            <div ng-if="mostrar('CDH')">
                <form>
                    <div class="info-representante">
                        <span class="center titulo-bloque">Representate Legal</span>
                        <br />
                        <div class="input-container">
                            <label> Nombre:</label>
                            <input ng-model="CDHform.nombre" class="form-control" type="text" placeholder="Nombre" />
                        </div>
                        <div class="input-container">
                            <label>Apellido:</label>
                            <input ng-model="CDHform.apellido" class="form-control" type="text" placeholder="Apellido" />
                        </div>
                        <div class="input-container">
                            <label>Cédula:</label>
                            <input ng-model="CDHform.cedula" class="form-control" type="number" placeholder="Cédula" />
                        </div>
                        <div class="input-container">
                            <label>Razón Social:</label>
                            <input ng-model="CDHform.rs" class="form-control" type="text" placeholder="Razón Social" />
                        </div>
                        <div class="input-container">
                            <label>Tipo:</label>
                            <select class="form-control" ng-model="CDHform.tipoCDH">
                                <option value="" ng-disabled="true">Tipo</option>
                                <option value="general">General</option>
                                <option value="otros">Hospital/Batallón</option>
                            </select>
                        </div>
                    </div>

                    <div ng-if="CDHform.tipoCDH=='general'">
                        <div class="div-cdh">
                            <span class="center titulo-bloque">Focos Encontrados</span>
                            <div class="input-container repeat-focos" ng-repeat="foco in CDHform.focosEncontrados">
                                <input type="text" class="form-control small-input" ng-model="foco.cantidad" placeholder="Cant." />
                                <input type="text" class="form-control" ng-model="foco.lugar" placeholder="Lugar" />
                                <select class="form-control" ng-model="foco.tipo">
                                    <option value="" ng-disabled="true">Foco</option>
                                    <option>Tanques bajos</option>
                                    <option>Llantas</option>
                                    <option>Floreros/Plantas en agua</option>
                                    <option>Tinas (> 55 gal)</option>
                                    <option>Tarros-baldes (< 55 gal)</option>
                                    <option>Criaderos naturales</option>
                                    <option>Botellas</option>
                                    <option>Diversos</option>
                                    <option>Sumidero</option>
                                </select>
                                <button class="btn btn-primary btn-xs btn-cancel small-button" ng-click="deleteEncontrado(foco.index)"><i class="material-icons">clear</i> </button>
                            </div>

                            <button class="btn btn-primary btn-xs btn-block small-button" ng-click="filaFoco()"><i class="material-icons">add box</i> </button>
                        </div>
                            
                        <div class="div-cdh">
                            <span class="center titulo-bloque">Focos Potenciales</span>
                            <div class="input-container repeat-focos" ng-repeat="potencial in CDHform.focosPotenciales">
                                <input type="text" class="form-control small-input" ng-model="potencial.cantidad" placeholder="Cant" />
                                <input type="text" class="form-control" ng-model="potencial.lugar" placeholder="Lugar" />
                                <select class="form-control" ng-model="potencial.tipo">
                                    <option value="" ng-disabled="true">Foco</option>
                                    <option>Tanques bajos</option>
                                    <option>Llantas</option>
                                    <option>Floreros/Plantas en agua</option>
                                    <option>Tinas (> 55 gal)</option>
                                    <option>Tarros-baldes (< 55 gal)</option>
                                    <option>Criaderos naturales</option>
                                    <option>Botellas</option>
                                    <option>Diversos</option>
                                    <option>Sumidero</option>
                                </select>
                                <button class="btn btn-primary btn-xs btn-cancel small-button" ng-click="deletePotencial(potencial.index)"><i class="material-icons">clear</i> </button>
                            </div>
                            <button class="btn btn-primary btn-xs btn-block small-button" ng-click="filaPotencial()"><i class="material-icons">add box</i> </button>
                        </div>                            
                    </div>
                    <div ng-if="CDHform.tipoCDH=='otros'">
                        <div class="div-cdh">
                            <span class="center titulo-bloque">Toldillos</span>
                            <div class="otros-container repeat-focos"  ng-repeat="toldillo in CDHform.toldillos">
                                <select class="form-control" style="width:100%;" ng-model="toldillo.tipo">
                                    <option value="" ng-disabled="true">Tipo</option>
                                    <option>Adulto</option>
                                    <option>Pediatrico</option>                                     
                                </select>
                                <label>Bueno</label>
                                <label>Regular</label>
                                <label>Malo</label>
                                    
                                <input type="number" class="form-control" ng-blur="toldillo.total=toldillo.bueno+toldillo.malo+toldillo.regular" ng-model="toldillo.bueno" placeholder="Bueno" />
                                <input type="number" class="form-control" ng-blur="toldillo.total=toldillo.bueno+toldillo.malo+toldillo.regular" ng-model="toldillo.regular" placeholder="Regular" />
                                <input type="number" class="form-control" ng-blur="toldillo.total=toldillo.bueno+toldillo.malo+toldillo.regular" ng-model="toldillo.malo" placeholder="Malo" />
                                <label class="pair-input">Total</label>
                                <label class="pair-input">En Uso</label>
                                <input type="number" class="form-control pair-input" ng-disabled="true" ng-model="toldillo.total" placeholder="Total" />
                                <input type="number" class="form-control pair-input" ng-model="toldillo.uso" placeholder="Uso" />
                                <button class="btn btn-primary btn-xs btn-cancel small-button" ng-click="deleteToldillo(toldillo.index)"><i class="material-icons">clear</i> </button>
                            </div>
                            <button class="btn btn-primary btn-xs btn-block small-button" ng-click="filaToldillo()"><i class="material-icons">add box</i> </button>
                        </div>
                    </div>
                    <div class="input-container">
                        <input type="text" value="{{showUbicacion()}}" class="form-control" placeholder="Latitud - Longitud" style="text-align: center" disabled>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="geolocation()"><i class="material-icons">my_location</i></button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="toggleMap()"><i class="material-icons">map</i></button>
                    </div>
                    <div class="input-container">
                        <span class="center titulo-bloque">Plazo en días:</span>
                        <input type="number" ng-model="CDHform.plazo" class="form-control" placeholder="Plazo" style="text-align: center" required>
                    </div>

                    <div class="div-cdh">
                        <span class="center titulo-bloque">Observaciones</span>
                        <textarea ng-model="CDHform.observaciones" class="observaciones-cdh"> </textarea>
                    </div>
                    <div class="form-group">                            
                        <div class="col-xs-6" align="right">
                            <button type="submit" ng-click="agregarCDH()" class="btn btn-primary">Guardar</button>
                        </div>
                        <div class="col-xs-6" style="margin-bottom:10px;">
                            <button type="button" class="btn btn-primary" ng-click="changeView('menuTipos.html','infoGeneral.html')">Cancelar</button>
                        </div>                            
                    </div>

                </form>
            </div>   
        </div><!--.............................FIN Tab Datos Foco........................................-->

    </div>
</div>
    <!-- MODALES  -->
    
    <!-- MODAL DE ERROR  -->

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="focoErrorModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-danger">
                    <i class="material-icons">error_outline</i>
                </div>
                <div class="modal-text" ng-bind-html="modalMessage">
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DE EXITO -->

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="focoSuccessModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-success">
                    <i class="material-icons">done</i>
                </div>
                <div class="modal-text" ng-bind-html="modalMessage">
                </div>
            </div>
        </div>
    </div>


<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="cordova.js"></script>
</body>
</html>