<!DOCTYPE html>
<html ng-app="movilapp">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>

    <title>SAFI</title>
</head>

<body ng-controller="inicioController">
    <div class="header">    
        <h4>Ingreso al sistema</h4>
    </div>
    <!-- MENU DE INICIO - NAVIGATION TABS -->
    <div class="col-xs-12 has-header">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_Inicio" data-toggle="pill">Inicio</a></li>
        <li><a href="#tab_Registro" data-toggle="pill">Registrarse</a></li>
        <li><a href="#tab_Ayuda" data-toggle="pill">Ayuda</a></li>
      </ul>
    </div>
        
    <!-- Contenido de cada opcion del menu lateral -->
    <div class="col-xs-12" align="center">
        <div class="tab-content"> 
      <!-- ..............................................Tab Inicio.................................................... -->
            <div class="tab-pane active" id="tab_Inicio">
                <h4>Iniciar sesión</h4><br>

                <form name = "loginForm" class="form-horizontal" >
                    <div class = "col-xs-12">
                        <div class="form-group">
                            <div class = "col-xs-5" style="text-align: left;">
                                <label>Usuario:</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" placeholder="Usuario" ng-model="userLogin" required>
                            </div>
                        </div>
                    </div>

                    <div class = "col-xs-12">
                        <div class="form-group">
                            <div class = "col-xs-5" style="text-align: left;">
                                <label>Contraseña:</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="password" class="form-control" placeholder="Contraseña" ng-model="passLogin" required>
                            </div>
                        </div>
                    </div>

                    <div style="color: red;"> {{loginError}} </div>

                    <div class = "col-xs-12">
                        <br>
                        <div class="form-group">
                            <button class="btn btn-primary" ng-click = "login()">Aceptar</button>
                        </div>
                    </div>
                </form>
            </div> <!-- Cierra Tab inicio -->

        <!-- ......................................... Tab Registro................................................. -->
            <div class="tab-pane" id="tab_Registro">
                <div class="col-xs-12" align="center">
                    <h4>Registro</h4><br>

                    <form name = "registroForm" class="form-horizontal" ng-controller="inicioController">
                        <div class = "col-xs-12">
                            <div class="form-group">
                                <div class = "col-xs-5" style="text-align: left;">
                                    <label>Nombres:</label>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" name="nombres" class="form-control" placeholder="Nombres" ng-model = "nombres" required>
                                </div>
                            </div>
                        </div>

                        <div class = "col-xs-12">
                            <div class="form-group">
                                <div class = "col-xs-5" style="text-align: left;">
                                    <label>Apellidos:</label>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" name="apellidos" class="form-control" placeholder="Apellidos" ng-model = "apellidos" required>
                                </div>
                            </div>
                        </div>
                  
                        <div class = "col-xs-12">
                            <div class="form-group">
                                <div class = "col-xs-5" style="text-align: left;">
                                    <label>Cedula:</label>
                                </div>
                                <div class="col-xs-7">
                                    <input type="text" name="cedula" class="form-control" placeholder="Cedula" ng-model="cedula" required>
                                </div>
                            </div>
                        </div>

                        <div class = "col-xs-12">
                            <div class="form-group">
                                <div class = "col-xs-5" style="text-align: left;">
                                    <label>Contraseña:</label>
                                </div>
                                <div class="col-xs-7">
                                    <input type="password" name="password" class="form-control" placeholder="Contraseña" ng-model="passRegistro" required>
                                </div>
                            </div>
                        </div>
                  
                        <div> {{registerError}} </div>

                        <div class = "col-xs-12">
                            <div class="form-group">
                                <br><button class="btn btn-primary" ng-click="registro()">Registrarse</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div> <!-- Cierra Tab Registro -->

        <!-- Tab Ayuda -->
            <div class="tab-pane" id="tab_Ayuda">
                <h4>Ayuda</h4>
                <p>Texto ayuda</p>
            </div>
        </div><!-- tab content -->

        </div> <!-- Division de contenido, Tab-content -->

  <script type="text/javascript" src="js/userController.js"></script>
  <script type="text/javascript" src="cordova.js"></script>
  
</body>

</html>