<!DOCTYPE html>
<html ng-app="movilapp">

<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <!-- Javascript para el grafico -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.6/raphael.min.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

    <title>Tipos de Focos de Infección</title>
</head>

<body ng-controller="menuController" ng-init="init()">
    <div class="header">
        <button class="back-arrow" ng-click="backNavigation()"> <span class="glyphicon glyphicon-menu-left"></span>  </button>
        <h4>Información del dia</h4>
        <div class="dropdown header-button">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <ul class="dropdown-menu">
                <li><a ng-click="mostrarIP = !mostrarIP">Cambiar IP</a></li>
                <li><a ng-disabled="activeSync()" ng-click="sincronizar()">Sincronizar</a></li>
                <li><a ng-click="logout()">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>

    <!-- MENU DE INICIO - NAVIGATION TABS -->
    <div class="col-xs-12 has-header">
        <ul class="nav nav-tabs">            
            <li class="active couple-tabs"><a href="#tab_resumen" data-toggle="pill">Resumen<br> Focos.</a></li>
            <li class="couple-tabs"><a href="#tab_listareciente" data-toggle="pill">Focos <br> Recientes.</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="tab_resumen">            
            <div class="col-xs-12" align="center">
                <div id="grafico" ng-model="resumenDelDia"></div>
            </div>
        </div>
        

        <div class="tab-pane" id="tab_listareciente">
            <table class="recentTable">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reciente in recientes track by $index">
                        <td>{{reciente.tipo}}</td>
                        <td>{{reciente.hora}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-12" align="center">        
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-primary btn-lg" ng-click="changeView('focosView.html','menuTipos.html')" ng-show="hayConexion">Nuevo foco de infección</button><br>
            <button type="button" class="btn btn-primary btn-lg" ng-click="init()" ng-show="!hayConexion">Reintentar</button>
        </div>
    </div>

    <div class="col-xs-12" align="center">
        <br />
        <div class="col-xs-12"><p style="font-weight:700">IP actual: {{ipActual}}</p></div>
    </div>
    <!--   CAMBIO DE IP   -->
    <div ng-show="mostrarIP">
        <div class="col-xs-12 has-header">
            <br />
            <div class="col-xs-1">
                <p style="font-weight:700; margin-top:5px;">IP:</p>
            </div>
            <div class="col-xs-8">
                <input type="text" name="ip" class="form-control" placeholder="IP servidor" ng-model="ipServer" style="text-align:center">
            </div>
            <div class="col-xs-3" style="margin-left: -20px;">
                <button type="button" class="btn btn-primary btn-sm" ng-click="cambioIP()" style="margin-top:2px;">Cambiar</button>
            </div>
        </div>
    </div>
    <!-- FIN CAMBIO IP  -->
    <!-- MODALES  -->

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="menuErrorModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-danger">
                    <i class="material-icons">error_outline</i>
                </div>
                <div class="modal-text" ng-bind-html="modalMessage">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="menuSuccessModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-success">
                    <i class="material-icons">done</i>
                </div>
                <div class="modal-text" ng-bind-html="modalMessage">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
</body>
</html>