/*Clases generales*/
*{
  font-family: 'Open Sans', sans-serif;  
}
.body{
	background-color: gray;
  font-family: 'Open Sans', sans-serif;
}

nav{
  background-color: #0000CC!important;  
}

nav a {
  color:white;
}

.active-tab{
  background-color: #eee;
  color: black;
}
.active-tab a{  
  color: #337ab7;
}
.error-center{
  width: 60%;
  text-align: center;
  color: red;
  margin: 5px auto;
  font-weight: 800;
}

.no-list-style{
  list-style: none;
}

th{
  border-bottom: 3px solid #ddd;
  text-align: center!important;
}

tr{
  text-align: center
}

tr:hover{
  background-color: #f5f5f5
}

button:disabled{
  background-color: gray;
}

.div-text-center{
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.center-medium-width{
  width: 70%;
  margin:  10px auto;
}
.input-container{
    display:block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.input-container label{
  width: 35%;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  word-wrap: break-word;  
}
.input-container input{
    max-width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.input-container select{
    width: 50%;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.material-icons{
  width: 100%;
}
/*----------------------------- Modales -------------------------------------*/

.modal {    
  text-align: center;
  padding: 0!important;
}

/*Centrar el modal verticalmente*/
.modal-dialog {    
  text-align: left;
  display: inline-block;    
  vertical-align: middle;
  height: 60px;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-text{
  text-align: center;
  display: inline-block;
  padding: 15px 15px;
  width: 80%;
  height: 100%;    
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-bottom-right-radius:5px;
  border-top-right-radius:5px;
}

/*Color del modal de acuerdo al aviso que despliegue*/
.modal-success {
  color:#fff;
  padding:0px 10px;    
  background-color: #5cb85c;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size:34px;
  text-align:center;
  font-weight:normal;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
  margin: auto 0;
}

.modal-danger {
  color:#fff;
    padding:0px 10px;    
    background-color: #d9534f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size:34px;
    text-align:center;
    font-weight:normal;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 100%;
    margin: auto 0;
}

#mapModal{
  width: 80%!important;
  height: 100%;
  margin: 0 auto;
}

#mapModal .modal-dialog {
    width: 100%;
    text-align: left;
    display: inline-block;    
    vertical-align: middle;
    height: 400px;
}

/*Botones*/
.btn-safi {
  width: 40%;
  height: 50px;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  background-color: #0000CC;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 50px;
  color: #fff;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  text-shadow: none;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.btn-safi:not([disabled]):hover { 
  opacity: 0.6; color: #fff; 
}

.btn-cancel {
    background-color: #d60c0c!important;
}
.small-button{
  padding: 5px;
  height: 35px;
  width: 35px;
  line-height: 14px;
  text-align: center;
  margin: 10px auto;
  border: none;
}

.btn-primary{
  background-color: #0000CC;  
}

.white-button{
  color: #337ab7;
  background-color: #FFF;
  border: 2px solid #ddd;
  padding: 6px 12px;
}


/*-----------------------------LOGIN CLASES----------------------------------*/

/*Encierra toda la pantalla*/
.login-body {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;  
}

/*Define el ancho maximo, hace que sea responsive*/
.login-wrapper {
  display: table;
  height: 100%;
  margin: 0 auto;
  max-width: 650px;
  width: 100%;
}

/*Contiene los formularios, centra vercalmente*/
.login-container {
  display: table-cell;  
  padding: 20px;
  position: relative;
  vertical-align: middle;
}

/*Banner del formulario, contiene el titulo y el icono*/
.form-top {
  overflow: hidden;
  padding: 15px 50px;
  background-color: #0000CC;
  border-radius: 4px 4px 0 0;
  color: white;

}
/*Estilo para el titulo y el icono los alinea a la izquierda y derecha*/
.form-top h3{
  float: left;
  font-weight: 500;

}
.form-top i{
  float: right;
  font-size: 55px;
}

/*Contiene tanto botones como inputs, es del tamaño maximo para que se vea el fondo, centra todo al medio*/
.form-bottom {
  width: 100%;
  padding: 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: center;
}

.form-bottom a{
  text-align: left;
}
/*Encierra los inputs y botones para que el ancho de form botton no se afecte por el del contenido*/
.element-container{
  width: 100%;
  margin: 10px 0;
}
/*Estilo de los inputs*/
.login-input {
  width: 80%;
  margin: 15px auto;
  display: block; 
  height: 50px;  
  padding: 0 20px;
  vertical-align: middle;
  background: #f8f8f8;
  border: 3px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: #888;
  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}


.login-radio{
  display: block;
  width: 80%;
  margin: 10px auto;   
}

.login-radio label{
  display: inline-block;
  margin-right: 25px;
}

/*-------------------------------------------- Pagina Usuarios ------------------------------------------------*/

.pagination-button{
  text-align: right;
  margin-right: 5px;
}

.pagination-button button{
  color: #337ab7;
  background-color: #FFF;
  border: 1px solid #ddd;
  padding: 6px 12px;
}

.filter-div{
  margin: 10px;
  padding: 5px 0px;
  text-align: center;
  font-weight: bold;
}

.filter-div input{
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 17%;
  margin: 10px;
}

/*-------------------------------------------- Captura de datos clases ------------------------------------------------*/
.form-captura{
  margin:25px 0;
}

.foco-container{
  background: #F5F6FA;
  border-radius: 10px;
  border: 1px solid #FFD2D2;
  padding: 10px 0;
  max-width: 70%;
  margin: 0 auto;
}

.titulo-bloque {
  font-weight: bold;
  margin: 10px 0;
  display: block;
  text-align: center;
  word-wrap: break-word;
}

.input-trio label{
  width: 20%;
}

.input-trio input, .input-trio select{
  width: 35%;
}

#map-canvas{
  width: 100%;  
  height: 100%;
}

.div-cdh {
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}

.repeat-focos{
  padding: 10px;
  border-bottom: 1px solid;
  border-color: rgb(204, 204, 204);
}

.observaciones-cdh{/*TextArea*/
  width: 80%;
  margin: 15px auto;
  height: 150px;
  resize: none;
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
}

.row-container div{
  max-width: 30%;
  display: inline-block;
}


.row-container label{
  width: 50%;
  padding-top:5px;
  display:inline-block;
  margin: 0 auto;
  word-wrap: break-word;
}

.row-container input{
  width: 90%;
  display: inline-block;
  margin: 10px 15px;
  text-align: center;
}

.row-container select{
  width:80%;
  margin: 15px auto; 
}


/*---------------------------------------- PERFIL USUARIO ---------------------*/
.input-container-profile{
  display:block;
  max-width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #FFD2D2;
  padding: 10px;
  background: #F5F6FA;
  text-align: center;
}
.container-izq{
  display:inline-block;
  width: 20%;
  vertical-align: top;
  background: #F5F6FA;
}
.container-der{
  display:inline-block;
  width: 70%;
  margin-left: 10px;
  background: #F5F6FA;
}
.title-profile{
  font-size: 30px;
}



/*------------------------------------ Media querys -------------------------------------*/

@media (max-width: 500px) {
  .modal:before {
    content: initial;
    display: initial;
    height: inherit;
    vertical-align: initial;
    margin-right: initial;  
  }

  .modal-dialog{
    height: 90px;
    width: 80%;
  }

  .foco-container {
    max-width: 100%;
  }
  .input-container{
    width: 100%;
  }

  .input-container select{
    padding: 6px 5px
  }

  .input-trio label{
    width: 25%;
  }
  .row-container label{
    width: 100%;
  }

  .row-container input{
    max-width: 90%;
    margin: 10px;
  }

  .input-container-profile{
    max-width: 100%;
    padding: 10px 0;
  }

}
/*------------------- DASHBOARD ------------------------*/
.row{
  display:inline-block;
  width: 100%;
  margin-left: 0%;
}
.info-box {
  min-height: 110px;
  height: 110px;
  margin-bottom: 30px;
  padding: 5px;
  color: white;
  cursor:pointer;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.35), 0 3px 1px -1px rgba(0, 0, 0, 0.1);
}
.info-box i {
  display: block;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  width: 100px;
  float: left;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-right: 20px;
  /*color: rgba(255, 255, 255, 0.75);*/
  color: white;
}
.info-box .count {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.info-box .title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.info-box .title-captura {
  margin-top: 28px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.info-box .title-mapa {
  margin-top: 28px;
  margin-right: 10px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.blue-bg {
  background-color : #263238;
}
.row-graph{
  height: 250px;
}
.googleGraph{
  width: 90%; 
  height: 100%;
  margin-left: 2%;
}

/* ------------------------------Reportes ------------------------------------*/
.titulo-reportes{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 2%;
}
.dropdown{
  display: inline-block;
}
.container-reportes{
  background: #F5F6FA;
  border-radius: 10px;
  border: 1px solid #FFD2D2;
  width: 90%;
  height: 100%;
  display: inline-block;
  margin-left: 5%;
}
.sumidero-reportes{
  margin-left: 5%;
  width: 90%;
  display: inline-block;
  vertical-align: top;
}
.vivienda-reportes{
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  display: inline-block;
  vertical-align: top;
}
.cdh-reportes{
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  display: inline-block;
  vertical-align: top;
}
.contenedorIzq-reportes{
  display: inline-block;
  width: 50%;
  vertical-align: top;
}
.contenedorDer-reportes{
  display: inline-block;
  width: 20%;
  margin-left: 10px;
}
.div-exportar{
  margin-left: 5%;
  padding: 5px 0px;
  text-align: left;
  font-weight: bold;
}